/* Resets*/
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 62.5%;

/* Variables */
  /* Colours */
  --colour-main: darkslateblue;
  --colour-feature: rebeccapurple;
  --colour-text: grey;

  /* Fonts */
  --font-main: 'Roboto', sans-serif;
  --font-heading: 'Roboto Condensed', sans-serif;

  /* Sizes */
  --size-s: 1rem;
  --size-m: 2rem;
  --size-l: 3rem;

  /* Breakpoints */
  --breakpoint-s: 60rem;
  --breakpoint-m: 80rem;
  --breakpoint-l: 100rem;

  /* Shadows */
  --shadow-main: 0 0 1rem var(--colour-main);

  /* Transitions */
  --transition-in-out: all 0.3s ease-in-out;
}

/*Basic Layout*/
body {
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-areas:
      'header header'
      'nav main'
      'footer footer';
  gap: 1rem;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

nav {
  grid-area: nav;
}

/*Navigation*/
nav {
  font-size: var(--size-m);
}

nav ul {
  list-style: none;
}

/*Headings*/
h1 {
  font-family: var(--font-heading);
  font-size: var(--size-l);
  color: var(--colour-feature);
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--size-m);
  color: var(--colour-feature);
}

/*Text*/
p {
  font-family: var(--font-main);
  font-size: var(--size-m);
  color: var(--colour-text);
}